.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 740px;
}

.u-section-2 .u-accordion-1 {
  width: 1000px;
  margin: 0 auto 60px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  font-size: 3.9376em;
  vertical-align: -19px;
  margin-right: 26px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 451px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 23px 52px 0 75px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1007px;
  margin: 24px -30px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 308px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: 7px auto 0 11px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 308px;
}

.u-section-2 .u-container-layout-3 {
  padding: 7px 0;
}

.u-section-2 .u-text-2 {
  margin: 0 82px 0 12px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 308px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 12px -413px 0 41px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 308px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  font-size: 4.5626em;
  margin-right: 50px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 729px;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 16px;
}

.u-section-2 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin: 13px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 333px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 473px;
  height: 237px;
  margin: 48px auto 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 301px;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px 7px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 12px 0 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 301px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-2 .u-text-7 {
  margin: 0 12px 0 0;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 451px;
  height: auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 20px 0;
}

.u-section-2 .u-text-8 {
  line-height: 1.8;
  margin: 0 30px;
}

.u-section-2 .u-layout-wrap-3 {
  width: 979px;
  margin: 42px 0 0 auto;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 185px;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 185px;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 185px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 185px;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-accordion-1 {
    width: 940px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 22px;
    margin-left: 45px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 288px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 288px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 61px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 288px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 288px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 275px;
  }

  .u-section-2 .u-image-2 {
    width: 454px;
    height: 227px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 248px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 248px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 178px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 178px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 178px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 178px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 225px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 221px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 211px;
  }

  .u-section-2 .u-image-2 {
    width: 344px;
    height: 172px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 136px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 136px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 136px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 332px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 317px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 204px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 204px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 204px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 204px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-accordion-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 209px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 200px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 160px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 128px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 128px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 128px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 128px;
  }
}